<div>
  <img src="assets/logo1.png" alt="TuSegundazo.com" class="img-fluid mb-2" />
  <hr />
  <img src="assets/logo2.png" alt="Comercialización de Automotores Nuevos y Usados" class="img-fluid" />
</div>
<div class="tabla-wrapper">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Marca</th>
        <th>Línea</th>
        <th>Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vehiculos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ v.marca }}</td>
        <td>{{ v.linea }}</td>
        <td>{{ v.modelo }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-4 ms-5">
  <div *ngFor="let marca of conteoPorMarca | keyvalue">
    Total {{ marca.key }}: {{ marca.value }}
  </div>
</div>

<footer class="text-center mt-5 p-3 border-top text-muted small">
  Contacto: +57 3102105253 • info&#64;tusegundazo.com • &#64;tusegundazo
</footer>